.main-header{
    background: url(../Images/rest.jpg);
    background-size: cover;
}

.background-overlay{
    background: linear-gradient(90deg, rgba(221,116,11,0.7) 0%, rgba(255,179,103,0.7) 100%, rgba(0,212,255,1) 75%);
    height: 25rem;
}

.Titulo{
    font-size: 6rem;
}
